/* -----google font---- */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');
*{
    font-family: 'Oswald', sans-serif;
}


/* -----Hero Part------ */
#hero{
    background: url(../img/hero-bg.png) no-repeat center;
    background-size: cover;
    height: 90vh;
}
.hero-content{
    margin-top: 40vh!important;
}
.hero-content h1{
     font-size: 75px;
}
.hero-content p{
    font-size: 20px;
}
.hero-content button{
    background-color: #e8631c;
}
.hero-content button:hover{
    background-color: #ff5900;
}
/* -----info section----- */
#info{
    background: url(../img/bg-yellow.png) no-repeat center;
    background-size: cover;
}
#price{
    background: url(../img/bg-dark.jpg) no-repeat center;
    background-size: cover;
}
.card{
    background-color: #e8631c !important;
}
#about{
    background: url(../img/bg-yellow.png) no-repeat center;
    background-size: cover;
}
.big-one-writing-part{
    margin-top: 250px !important;
}
#contact{
    background: url(../img/bg-dark.jpg) no-repeat center;
    background-size: cover;
}
#herberd-simon{
    background: url(../img/simon.png) no-repeat center;
    background-size: cover;
    height: 100vh;
}
#subscribe{
    background: url(../img/bg-yellow.png) no-repeat center;
    background-size: cover;
}
#footer{
    background: url(../img/bg-dark.jpg) no-repeat center;
    background-size: cover;
    height: 70vh;
}